@import "media-queries-mixin";
/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body._lock {
  overflow: hidden;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('fonts/RobotoMedium.eot');
  src: url('fonts/RobotoMedium.eot') format('embedded-opentype'),
  url('fonts/RobotoMedium.woff2') format('woff2'),
  url('fonts/RobotoMedium.woff') format('woff'),
  url('fonts/RobotoMedium.ttf') format('truetype'),
  url('fonts/RobotoMedium.svg#RobotoMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
  url('fonts/RobotoRegular.woff2') format('woff2'),
  url('fonts/RobotoRegular.woff') format('woff'),
  url('fonts/RobotoRegular.ttf') format('truetype'),
  url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostBold';
  src: url('fonts/JostBold.eot');
  src: url('fonts/JostBold.eot') format('embedded-opentype'),
  url('fonts/JostBold.woff2') format('woff2'),
  url('fonts/JostBold.woff') format('woff'),
  url('fonts/JostBold.ttf') format('truetype'),
  url('fonts/JostBold.svg#JostBold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostMedium';
  src: url('fonts/JostMedium.eot');
  src: url('fonts/JostMedium.eot') format('embedded-opentype'),
  url('fonts/JostMedium.woff2') format('woff2'),
  url('fonts/JostMedium.woff') format('woff'),
  url('fonts/JostMedium.ttf') format('truetype'),
  url('fonts/JostMedium.svg#JostMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostRegular';
  src: url('fonts/JostRegular.eot');
  src: url('fonts/JostRegular.eot') format('embedded-opentype'),
  url('fonts/JostRegular.woff2') format('woff2'),
  url('fonts/JostRegular.woff') format('woff'),
  url('fonts/JostRegular.ttf') format('truetype'),
  url('fonts/JostRegular.svg#JostRegular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostSemiBold';
  src: url('fonts/JostSemiBold.eot');
  src: url('fonts/JostSemiBold.eot') format('embedded-opentype'),
  url('fonts/JostSemiBold.woff2') format('woff2'),
  url('fonts/JostSemiBold.woff') format('woff'),
  url('fonts/JostSemiBold.ttf') format('truetype'),
  url('fonts/JostSemiBold.svg#JostSemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kalam';
  src: url('fonts/Kalam-Regular.eot');
  src: url('fonts/Kalam-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Kalam-Regular.woff2') format('woff2'),
  url('fonts/Kalam-Regular.woff') format('woff'),
  url('fonts/Kalam-Regular.ttf') format('truetype'),
  url('fonts/Kalam-Regular.svg#Kalam-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: white;
  color: black;
}
a {
  color: black;
}
%font_j_m {
  font-family: 'JostMedium', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}
%font_j_m_p {
  font-family: 'JostMedium', sans-serif;
  font-size: 26px;
  line-height: 38px;
}
%font_j_sb {
  font-family: 'JostSemiBold', sans-serif;
  font-size: 38px;
  line-height: 55px;
}
%font_j_sb_2 {
  font-family: 'JostSemiBold', sans-serif;
  font-size: 28px;
  line-height: 40px;
}
%font_j_r {
  font-family: 'JostRegular', sans-serif;
  font-size: 17px;
  line-height: 25px;
}
%link {
  font-family: 'JostMedium', sans-serif;
  font-size: 20px;
  line-height: 30px;
}
%price {
  font-family: 'JostRegular', sans-serif;
  font-size: 30px;
  line-height: 43px;
}
%btn {
  font-family: 'JostMedium', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: white;
  padding: 9px 41px;
  background: inherit;
  background-color: #F93264;
}
%styles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  .cont_6_txt {
    .cont_6_tit_img {
      margin-bottom: 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 152px;
      li {
        padding-left: 28px;
        background-image: url(img/Ellipse.png);
        background-position: 0 50%;
        background-repeat: no-repeat;
        @extend %link;
        margin-bottom: 13px;
      }
    }
    a {
      margin-left: 180px;
      @extend %link;
      display: flex;
      align-items: center;
      margin-bottom: 43px;
      .arrow {
        margin-left: 7px;
      }
    }
    .price_btn {
      display: flex;
      justify-content: right;
      p {
        @extend %price;
      }
      button {
        margin-left: 19px;
        @extend %btn;
      }
    }
  }
}
%styles_2 {
  .cont_6_txt{
    ul {
      padding-left: 0;
    }
    a {
      margin-left: 0;
    }
    .price_btn {
      justify-content: left;
    }
  }
}
.wrapper {
  max-width: 1580px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
header {
  padding: 52px 0 98px;
  .header_content_box {
    text-align: center;
    .header_menu_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 17px;
      .header_menu {
        display: flex;
        gap: 58px;
        align-items: center;
        .menu_list {
          display: flex;
          gap: 58px;
          .menu_link {
            a {
              @extend %font_j_m;
            }
          }
        }
        button {
          @extend %btn;
          padding: 9px 16px;
          background-color: #F93264;
        }
      }
    }
  }
  img {
    max-width: 1499px;
    width: 100%;
    object-fit: cover;
  }
  .header_text_box {
    margin-bottom: 35px;
    h1 {
      @extend %font_j_sb;
      line-height: 44px;
      max-width: 830px;
      margin: 0 auto 21px;

    }
    .sub_tittle,
    .sub_tittle_2 {
      @extend %font_j_m;
      font-size: 20px;
      line-height: 29px;
    }
    .sub_tittle_2 {
      margin-bottom: 12px;
    }
    .header_txt {
      @extend %font_j_r;
    }
  }
  .header_chose {
    display: flex;
    justify-content: center;
    button {
      @extend %btn;
    }
  }
}
main {
  .content_1 {
    position: relative;
    padding-bottom: 115px;
    .m_r_img {
      position: absolute;
      z-index: 2;
      top: 75px;
      right: 0;
    }
    .wrapper {
      padding-top: 188px;
      text-align: left;
      h2 {
        @extend %font_j_sb;
        margin-bottom: 13px;
      }
      .sub_tittle {
        font-family: 'JostRegular', sans-serif;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 54px;
        span {
          color: #0088FE;
        }
      }
      .sub_tittle_txt {
        max-width: 1155px;
        margin-bottom: 110px;
        @extend %font_j_sb_2;
      }
      h3 {
        @extend %font_j_sb;
        margin-bottom: 123px;
      }
      .content_1_box_img {
        display: flex;
        justify-content: space-between;
        position: relative;
        .img_element,
        .img_element_1 {
          max-width: 483px;
          position: relative;
          z-index: 2;
          .element_txt {
            position: absolute;
            padding: 9px 0 0 17px;
            bottom: -20px;
            left: 41px;
            background-color: #FFFFFF;
            max-width: 443px;
            width: 100%;
            h4 {
              @extend %font_j_sb_2;
              color: #FA3465;
            }
            p {
              @extend %font_j_r;
            }
          }
        }
        .img_element_1 {
          top: -202px;
          left: 50%;
          transform: translateX(-50%);
          max-width: 561px;
          position: absolute;
          .element_txt {
            left: 90px;
          }
        }
      }

    }
  }
  .content_2 {
    position: relative;
    padding-bottom: 124px;
    background-color: #FA3465;
    color: white;
    .main_con_2_img {
      position: absolute;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .wrapper {
      text-align: left;
      padding-top: 90px;
      h2 {
        @extend %font_j_sb;
        margin-bottom: 65px;
      }
      .content_2_box_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div {
          max-width: 392px;
          width: 100%;
          h3 {
            font-family: 'Kalam', sans-serif;
            font-size: 36px;
            line-height: 57px;
            color: black;
          }
          img {
            margin-bottom: 14px;
          }
          p {
            @extend %font_j_m_p;
            margin-bottom: 36px;
            span {
              color: #260E4D;
            }
          }
        }
      }
      .cont_2_titl_txt {
        @extend %font_j_sb;
        margin-bottom: 36px;
      }
      p {
        @extend %font_j_m_p;
        max-width: 1024px;
        width: 100%;
      }
    }
  }
  .content_3 {
    .wrapper {
      .content_3_box_img {
        display: flex;
        width: 96%;
        justify-content: space-between;
        position: absolute;
        z-index: 5;
        top: -33px;
        .img_element_con_3,
        .img_element_1_con_3 {
          max-width: 466px;
          width: 100%;
          position: relative;
          z-index: 2;
          .element_txt,
          .element_txt_2 {
            position: absolute;
            padding: 9px 0 0 17px;
            bottom: -53px;
            left: -1px;
            background-color: #FFFFFF;
            max-width: 443px;
            width: 100%;
            h4 {
              font-family: 'JostSemiBold', sans-serif;
              font-size: 22px;
              line-height: 32px;
            }
            p {
              @extend %font_j_m;
              color: #EA557B;
            }
          }
          .element_txt_2 {
            bottom: -33px;
          }
        }
        .img_element_1_con_3 {
          transform: translateY(-61px);
        }
      }
      .content_3_text_box {
        padding-top: 581px;
        text-align: center;
        h2 {
          @extend %font_j_sb;
          margin-bottom: 21px;
        }
        .sub_tittle {
          max-width: 855px;
          margin: 0 auto 31px;
          font-family: 'JostMedium', sans-serif;
          font-size: 20px;
          line-height: 28px;
        }
        .header_txt {
          @extend %font_j_r;
          max-width: 682px;
          margin: 0 auto 35px;
        }
        button {
          @extend %btn;
        }
      }
    }
  }
  .content_4 {
    position: relative;
    padding-bottom: 188px;
    .cont_4_m_img {
      position: absolute;
      left: -180px;
      z-index: 2;
    }
    .wrapper {
      padding-top: 207px;
      display: flex;
      justify-content: space-between;
      h2 {
        @extend %font_j_sb;
        margin-bottom: 52px;
      }
      .con_4_txt {
        margin-left: 82px;
        max-width: 813px;
        width: 100%;
        .tittle_con_4,
        .sub_tittle_con_4 {
          @extend %font_j_m_p;
        }
        .tittle_con_4 {
          margin-bottom: 10px;
        }
        .sub_tittle_con_4 {
          margin-bottom: 23px;
        }
        .sub_tittle_txt_con_4 {
          @extend %font_j_m;
          font-size: 20px;
          line-height: 29px;
          margin-bottom: 10px;
          span {
            color: #0088FE;
          }
          .sub_tittle_txt_con_4:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .content_5 {
    position: relative;
    padding-bottom: 185px;
    .con_5_img_box {
      img {
        position: absolute;
        z-index: 2;
      }
      img:first-child {
        left: 0;
        bottom: 0;
      }
      img:last-child {
        right: 0;
        top: -116px;
      }
    }
    .wrapper {
      text-align: center;

      .video_cont {
        margin: 0 auto 50px;
        max-width: 602px;
        padding: 20px;
        border: 1px solid #7538FF;
      }
      .cont_5_image_box {
        img:nth-child(2n) {
          transform: translateY(80px);
        }
      }
    }
  }
  .content_6 {
    padding: 90px 0 181px;
    .wrapper {
      h2, h3 {
        @extend %font_j_sb;
        margin-bottom: 12px;
      }
      .sub_tittle_con_6 {
        font-family: 'JostRegular', sans-serif;
        font-size: 20px;
        line-height: 29px;
        max-width: 1007px;
        margin-bottom: 26px;
      }
      .cont_6_box {
        border-top: 1px solid #00213C;
        padding: 94px 0 0 108px;
        .cont_6_1,
        .cont_6_2,
        .cont_6_3 {
          @extend %styles;
        }
        .cont_6_2 {
          @extend %styles_2;
        }
        .cont_6_3 {
          margin-bottom: 0;
        }
      }
    }
  }
  .content_7 {
    padding-bottom: 142px;
    .wrapper {
      h2 {
        @extend %font_j_sb;
        margin-bottom: 12px;
      }
      .cont_7_box {
        border-top: 1px solid #00213C;
        padding: 86px 0 0 108px;
        margin-bottom: 61px;
        .cont_7_1,
        .cont_7_2,
        .cont_7_3 {
          @extend %styles;
        }
        .cont_7_2 {
          @extend %styles_2;
        }
        .cont_7_3 {
          margin-bottom: 0;
        }
      }
      .cont_7_btm_txt {
        text-align: center;
        p {
          @extend %link;
        }
        button {
          @extend %btn;
          padding: 9px 34px;
          background-color: #0089FD;
        }
      }
    }
  }
  .content_8 {
    position: relative;
    padding-bottom: 10px;
    .cont_8_main_img {
      position: absolute;
      z-index: 2;
      top: -90px;
      right: 0;
    }
    .wrapper {
      h2 {
        @extend %font_j_sb;
        margin-bottom: 71px;
      }
      .swiper_comments {
        .swiper-wrapper {
          .swiper-slide {
            width: auto;
            .cont_8_box {
              display: flex;
              justify-content: space-between;
              img:nth-child(odd) {
                margin-top: 114px;
              }
              img:nth-child(even) {
                max-height: 470px;
                height: 100%;
              }
            }
          }
        }
      }

    }
  }
}