@import "media-queries-mixin";
/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body._lock {
  overflow: hidden;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('fonts/RobotoMedium.eot');
  src: url('fonts/RobotoMedium.eot') format('embedded-opentype'),
  url('fonts/RobotoMedium.woff2') format('woff2'),
  url('fonts/RobotoMedium.woff') format('woff'),
  url('fonts/RobotoMedium.ttf') format('truetype'),
  url('fonts/RobotoMedium.svg#RobotoMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
  url('fonts/RobotoRegular.woff2') format('woff2'),
  url('fonts/RobotoRegular.woff') format('woff'),
  url('fonts/RobotoRegular.ttf') format('truetype'),
  url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostBold';
  src: url('fonts/JostBold.eot');
  src: url('fonts/JostBold.eot') format('embedded-opentype'),
  url('fonts/JostBold.woff2') format('woff2'),
  url('fonts/JostBold.woff') format('woff'),
  url('fonts/JostBold.ttf') format('truetype'),
  url('fonts/JostBold.svg#JostBold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostMedium';
  src: url('fonts/JostMedium.eot');
  src: url('fonts/JostMedium.eot') format('embedded-opentype'),
  url('fonts/JostMedium.woff2') format('woff2'),
  url('fonts/JostMedium.woff') format('woff'),
  url('fonts/JostMedium.ttf') format('truetype'),
  url('fonts/JostMedium.svg#JostMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostRegular';
  src: url('fonts/JostRegular.eot');
  src: url('fonts/JostRegular.eot') format('embedded-opentype'),
  url('fonts/JostRegular.woff2') format('woff2'),
  url('fonts/JostRegular.woff') format('woff'),
  url('fonts/JostRegular.ttf') format('truetype'),
  url('fonts/JostRegular.svg#JostRegular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JostSemiBold';
  src: url('fonts/JostSemiBold.eot');
  src: url('fonts/JostSemiBold.eot') format('embedded-opentype'),
  url('fonts/JostSemiBold.woff2') format('woff2'),
  url('fonts/JostSemiBold.woff') format('woff'),
  url('fonts/JostSemiBold.ttf') format('truetype'),
  url('fonts/JostSemiBold.svg#JostSemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kalam';
  src: url('fonts/Kalam-Regular.eot');
  src: url('fonts/Kalam-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Kalam-Regular.woff2') format('woff2'),
  url('fonts/Kalam-Regular.woff') format('woff'),
  url('fonts/Kalam-Regular.ttf') format('truetype'),
  url('fonts/Kalam-Regular.svg#Kalam-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: white;
  color: black;
}
a {
  color: black;
}
%font_j_m {
  font-family: 'JostMedium', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}
%font_j_sb {
  font-family: 'JostSemiBold', sans-serif;
  font-size: 38px;
  line-height: 55px;
}
%font_j_sb_2 {
  font-family: 'JostSemiBold', sans-serif;
  font-size: 28px;
  line-height: 40px;
}
%font_j_r {
  font-family: 'JostRegular', sans-serif;
  font-size: 17px;
  line-height: 25px;
}
%btn {
  font-family: 'JostMedium', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: white;
}
.wrapper {
  max-width: 1580px;
  padding: 0 30px;
  margin: 0 auto;
}
header {
  padding: 52px 0 98px;
  .header_content_box {
    text-align: center;
    .header_menu_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 17px;
      .header_menu {
        display: flex;
        gap: 58px;
        align-items: center;
        .menu_list {
          display: flex;
          gap: 58px;
          .menu_link {
            a {
              @extend %font_j_m;
            }
          }
        }
        button {
          @extend %btn;
          padding: 9px 16px;
          background-color: #F93264;
        }
      }
    }
  }
  img {
    max-width: 1499px;
    width: 100%;
    object-fit: cover;
  }
  .header_text_box {
    margin-bottom: 35px;
    h1 {
      @extend %font_j_sb;
      line-height: 44px;
      max-width: 830px;
      margin: 0 auto 21px;

    }
    .sub_tittle,
    .sub_tittle_2 {
      @extend %font_j_m;
      font-size: 20px;
      line-height: 29px;
    }
    .sub_tittle_2 {
      margin-bottom: 12px;
    }
    .header_txt {
      @extend %font_j_r;
    }
  }
  .header_chose {
    display: flex;
    justify-content: center;
    button {
      @extend %btn;
      padding: 9px 41px;
      background: inherit;
      color: white;
      background-color: #F93264;
    }
  }
}
main {
  .content_1 {
    position: relative;
    padding-bottom: 115px;
    .m_r_img {
      position: absolute;
      z-index: 2;
      top: 75px;
      right: 0;
    }
    .wrapper {
      position: relative;
      z-index: 3;
      padding-top: 188px;
      text-align: left;
      h2 {
        @extend %font_j_sb;
        margin-bottom: 13px;
      }
      .sub_tittle {
        font-family: 'JostRegular', sans-serif;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 54px;
        span {
          color: #0088FE;
        }
      }
      .sub_tittle_txt {
        max-width: 1155px;
        margin-bottom: 110px;
        @extend %font_j_sb_2;
      }
      h3 {
        @extend %font_j_sb;
        margin-bottom: 123px;
      }
      .content_1_box_img {
        display: flex;
        justify-content: space-between;
        position: relative;
        .img_element,
        .img_element_1 {
          max-width: 483px;
          position: relative;
          z-index: 2;
          .element_txt {
            position: absolute;
            padding: 9px 0 0 17px;
            bottom: -20px;
            left: 40px;
            background-color: #FFFFFF;
            max-width: 443px;
            width: 100%;
            h4 {
              @extend %font_j_sb_2;
              color: #FA3465;
            }
            p {
              @extend %font_j_r;
            }
          }
        }
        .img_element_1 {
          top: -202px;
          left: 50%;
          transform: translateX(-50%);
          max-width: 561px;
          position: absolute;
          .element_txt {
            left: 50px;
          }
        }
      }

    }
  }
  .content_2 {
    position: relative;
    padding: 90px 0 124px;
    background-color: #FA3465;
    color: white;
    img {
      position: absolute;
      left: 0;
      z-index: 2;
    }
    .wrapper {
      position: relative;
      z-index: 3;
      text-align: left;
      h2 {
        @extend %font_j_sb;
        margin-bottom: 65px;
      }

    }
  }
}